<div class="jumbotron">
<h1>ProManSof</h1>
	<p>Manage your projects and resources with <i class="fa fa-circle-o-notch"></i>ProManSof</p>
	<%= link_to 'Sign up', new_user_registration_path, class: ' btn btn-primary btn-lg' %>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <!--<img src="../assets/images/pm1.jpg" alt="feature 1 pic">-->
      <%= image_tag "pm1.jpg", class:"img-responsive" %>
      <div class="caption">
        <h3>Feature 1</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "pm2.jpg", class:"img-responsive" %>
      <div class="caption">
        <h3>Feature 2</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "pm3.jpg", class:"img-responsive" %>
      <div class="caption">
        <h3>Feature 3</h3>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
